.hero {
  text-align: center;
  padding: 100px 20px;
  margin-top: 15vh;
}

.hero h1 {
  font-size: 48px;
  color: #38bdf8;
}

.hero h2 {
  margin-top: 10px;
  color: #94a3b8;
}

.subtitle {
  margin-top: 20px;
  font-size: 18px;
  color: #cbd5f5;
}

.buttons {
  margin-top: 30px;
}

.btn {
  padding: 12px 25px;
  margin: 10px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}



.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.roles {
  margin-top: 10px;
  font-size: 18px;
  color: #94a3b8;
}

/* Clickable roles */
.role {
  text-decoration: none;
  color: #e2e8f0;
  position: relative;
  transition: 0.2s;
}

.role:hover {
  color: #38bdf8;
}

/* subtle underline animation */
.role::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 1px;
  background: #38bdf8;
  transition: 0.3s;
}

.role:hover::after {
  width: 100%;
}

.divider {
  margin: 0 10px;
  color: #64748b;
}